.title {
    margin-top: 30px;
    text-align: center;
}

.container {
    margin: 10px;
    justify-content: center;
}

.offline-online-container {
    display: flex;
    max-width: 100vw;
    min-height: 80vh;
}

.offline-online-container div {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25% 15px;
}

.offline-online-container button {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    margin-bottom: 50px;
    cursor: pointer;
    color: white;
}

.button-red {
    background-color: rgb(128, 0, 0);
}

.button-red:hover {
    background-color: rgb(255, 64, 64);
}

.button-green {
    background-color: green;
}

.button-green:hover {
    background-color: rgb(64, 255, 64);
}

.creator {
    float: right;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
    }

    .offline-online-container {
        flex-direction: column;
    }

    .offline-online-container div {
        padding: 25px 10px;
        min-width: 90vw;
        margin: 30px 5px;
        display: flex;
        flex-direction: column-reverse;
    }

    .offline-online-container div p {
        padding-bottom: 20px;
    }

    .offline-online-container button {
        margin-bottom: 25px;
    }
}